*{
    padding:0px;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color:aliceblue;
    font-family: 'Merriweather', serif;
}
.navbar{
    display:flex;
    align-items: center;
    background-color:white;
    
   
    justify-content: space-between;
}
.navbar_brand{
    width:100px;
}
.navbar_logo{
    width: 100%;
}

.navbar_item{
    background-image: linear-gradient(
        to right,
        #ff5125 0%,
        #dd2476 51%,
        #ff512f 100%);
    color:#fff;
    border-radius: 9px;
    
    padding:16px;
    font-size: 15px;
    
    
}
@media(min-width:1020px){
    .navbar{
        padding: 5px 30px;
        
        
    }
}
